body {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 25%;
}

input, textarea {
  padding: 0.5rem;
  resize: none;
}

button {
  cursor: pointer;
  background-color: skyblue;
  border: none;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
}